@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #ffdd8ee1;
}


:root {
    --color-primary: #FAB005;
    
    --grey-1: #343A40;
    --grey-2: #868E96;
    --grey-3: #CED4DA;
    --grey-4: #E9ECEF;
    --grey-5: #F1F3F5;
    --grey-6: #F8F9FA;
    
    --border-radius-1: 10px;

    --title-size-1: 64px;
    --title-size-2: 48px;
    --title-size-3: 40px;

    --text-size-1: 24px;
    --text-size-1: 20px;
    --text-size-1: 16px;

    --font-weight-semibold: 600;
}