


.modal-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}


.modal {
    background-color: white;
    width: 500px;
    border-radius: 8px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
}

.modal-title {
    font-size: 16px;
    font-weight: 600;
}

.modal-close {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-body {
    padding: 24px;
}


.show-modal {
    display: flex;
}

.show-modal .modal {
    animation: modalAnimation 1s ease;
}

@keyframes modalAnimation {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        

    }
}